#
# KC705
# 
# NET "GPIO_LED<0>" LOC = "AB8"  | IOSTANDARD=LVCMOS15;
# NET "GPIO_LED<1>" LOC = "AA8"  | IOSTANDARD=LVCMOS15;
# NET "GPIO_LED<2>" LOC = "AC9"  | IOSTANDARD=LVCMOS15;
# NET "GPIO_LED<3>" LOC = "AB9"  | IOSTANDARD=LVCMOS15;
# NET "GPIO_LED<4>" LOC = "AE26" | IOSTANDARD=LVCMOS25;
# NET "GPIO_LED<5>" LOC = "G19"  | IOSTANDARD=LVCMOS25;
# NET "GPIO_LED<6>" LOC = "E18"  | IOSTANDARD=LVCMOS25;
# NET "GPIO_LED<7>" LOC = "F16"  | IOSTANDARD=LVCMOS25;
#
# FMC LPC
#
NET "FPGA_CLKOUTP" LOC="AF22"; | IOSTANDARD=LVDS_25;
NET "FPGA_CLKOUTN" LOC="AG23"; | IOSTANDARD=LVDS_25;
NET "DATACLKP"     LOC="AG27"; | IOSTANDARD=LVDS_25;
NET "DATACLKN"     LOC="AG28"; | IOSTANDARD=LVDS_25;
NET "FRAMEP"       LOC="AG30"; | IOSTANDARD=LVDS_25;
NET "FRAMEN"       LOC="AH30"; | IOSTANDARD=LVDS_25;
NET "DATAP<0>"     LOC="AC29"; | IOSTANDARD=LVDS_25;
NET "DATAP<1>"     LOC="AD29"; | IOSTANDARD=LVDS_25;
NET "DATAP<2>"     LOC="AE28"; | IOSTANDARD=LVDS_25;
NET "DATAP<3>"     LOC="AC26"; | IOSTANDARD=LVDS_25;
NET "DATAP<4>"     LOC="AJ27"; | IOSTANDARD=LVDS_25;
NET "DATAP<5>"     LOC="AF26"; | IOSTANDARD=LVDS_25;
NET "DATAP<6>"     LOC="AC22"; | IOSTANDARD=LVDS_25;
NET "DATAP<7>"     LOC="AA20"; | IOSTANDARD=LVDS_25;
NET "DATAN<0>"     LOC="AC30"; | IOSTANDARD=LVDS_25;
NET "DATAN<1>"     LOC="AE29"; | IOSTANDARD=LVDS_25;
NET "DATAN<2>"     LOC="AF28"; | IOSTANDARD=LVDS_25;
NET "DATAN<3>"     LOC="AD26"; | IOSTANDARD=LVDS_25;
NET "DATAN<4>"     LOC="AK28"; | IOSTANDARD=LVDS_25;
NET "DATAN<5>"     LOC="AF27"; | IOSTANDARD=LVDS_25;
NET "DATAN<6>"     LOC="AD22"; | IOSTANDARD=LVDS_25;
NET "DATAN<7>"     LOC="AB20"; | IOSTANDARD=LVDS_25;
